body {
  font-family: Calibri;
}

.form-section {
  width: 100vw;
  height: 100vh;
  display: grid;
  position: relative;
  align-content: center;
  justify-content: center;
}

h1 {
  text-align: center;
  margin: 0;
}

#submit-error {
  margin: 0;
  opacity: 0;
  color: #fff;
  padding: 1rem 0;
  transition: 0.5s;
  text-align: center;
  letter-spacing: 0.6px;
  border-radius: 0.25rem;
  background-color: #fc4d4d;
}

#submit-error.activate {
  opacity: 1
}

.client-form {
  width: 20rem;
  display: grid;
  border-radius: 0.25rem;
}

.form-item {
  display: grid;
}

.t-and-c-item {
  padding: 1rem 0;
  margin: 0 0 0.8rem;
  align-items: center;
  justify-items: center;
  grid-template-columns: 3rem 1fr;
}

.inputfield-holder {
  height: 2rem;
  display: flex;
  position: relative;
  justify-content: end;
  border-radius: 0.25rem;
  margin: 0.25rem 0 1.2rem;
  border: 2px solid #999;
}

.inputfield-holder:first-of-type {
  margin-right: 0.25rem;
}

.input-onfocus {
  border-color: #1800f3;
}

.select-holder {
  border: none;
  justify-content: start;
}

.checkbox-holder {
  height: 1rem;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  border-radius: 0.25rem;
}

.button-holder {
  border: none;
}

label {
  font-weight: 700;
}

.input-field {
  width: 97%;
  border: none;
  outline: none;
  border-radius: 0.25rem;
  background-color: inherit;
}

.enter-dob {
  width: 6rem;
  margin: 0 4px;
  color: #777;
  outline: none;
  appearance: none;
  padding-left: 1rem;
  border-radius: 0.25rem;
  border: 2px solid #999;
}

.dob-select {
  width: 4.5rem;
  margin: 0;
}

option {
  color: black
}

option:first-of-type {
  color: #999
}

.input-directive {
  margin: 0;
  opacity: 0;
  color: #fc4d4d;
  font-size: small;
  position: absolute;
  bottom: -1.2rem;
  right: 0.1rem;
}

.input-directive-active {
  opacity: 1;
}

.password-visibility {
  width: 1rem;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 0.55rem;
}

.toggle-visibility-icon {
  display: none;
}

.password-meter {
  opacity: 0;
  width: 5rem;
  bottom: -0.8rem;
  height: 0.3rem;
  border-radius: 0.15rem;
  background-color: #e0e0e0;
}

.meter-gauge {
  opacity: 1;
}

.strength-level {
  height: 100%;
  width: 0%;
  transition: 0.9s;
}

.level-one {
  width: 20%;
  background-color: #ff3a3a;
}

.level-two {
  width: 40%;
  background-color: #f3ae2d;
}

.level-three {
  width: 60%;
  background-color: #d4df00;
}

.level-four {
  width: 80%;
  background-color: #86f32d;
}

.level-five {
  width: 100%;
  background-color: #0cb70c;
}

.password-rule {
  margin: 0;
  font-size: small;
  text-align: justify;
}

#t-and-c {
  padding: 0;
  margin: 0.05rem;
  accent-color: #07a407;
}

.invalid-syntax {
  border-color: #fc4d4d;
}

.valid-syntax {
  border-color: #0cb70c;
}

#submit-button {
  flex: 1;
  font-weight: 700;
  letter-spacing: 0.8px;
  border-radius: 0.25rem;
  border: 2px solid #999;
  background-color: #bbb;
}

#submit-button.submit-button-active {
  color: white;
  border-color: #1800f3;
  background-color: #1800f3;
}